.List {
  background-color: white;
  padding: 8px;
  border-radius: 8px;

  // всем, кроме первого (применяется ко второму)
  & + & {
    margin-top: 10px;
  }

  &__wrapper {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  // &  => .List (parent)
  &__item {
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0px 0 -4px;

    &:hover {
      font-weight: bold;
    }
  }

  &__preview {
    max-width: 34px;
    margin-right: 8px;
  }

  &__title {
    font-size: 16px;
    cursor: pointer;
    padding: 6px 0;

    span {
      border-bottom: 1px dashed #444;
    }

    :hover {
      border-bottom: none;
    }
  }
}
