.List {
  &__wrapper {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  // &  => .List (parent)
  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }
  }

  &__preview {
    max-width: 50px;
  }

  &__title {
    font-size: 20px;
  }
}
