.SceneGenerator {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content max-content max-content max-content max-content;
  grid-template-areas:
    "SceneGenerator__title"
    "SceneGenerator__selectGender"
    "SceneGenerator__mannequin"
    "SceneGenerator__aside--left"
    "SceneGenerator__aside--rigth"
    "SceneGenerator__nav";
  grid-gap: 0 20px 20px;
  background-color: #f2f6fb;
  padding: 0 20px 20px;

  @media screen and (min-width: 767px) {
    grid-template-areas:
      "App_selectGender App_selectGender"
      "App__aside--left App__aside--rigth"
      "App__mannequin App__mannequin";
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 1023px) {
    grid-template-areas:
      "App_selectGender App_selectGender App_selectGender"
      "App__aside--left App__mannequin App__aside--rigth";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 35px 1fr;
    background-color: #f2f6fb;
    margin: 0 auto;
    max-width: 1200px;
    border-radius: 20px;
  }

  //@media (max-width: 1194px) {
  //  grid-template-columns: max-content 1fr max-content;
  //  padding-left: 20px;
  //  padding-right: 20px;
  //}
  //
  //@media (max-width: 767px) {
  //  grid-template-rows: 35px max-content;
  //  grid-template-areas:
  //    "App_selectGender App_selectGender"
  //    "SceneGenerator__aside--left SceneGenerator__mannequin"
  //    "App__aside--rigth SceneGenerator__mannequin";
  //}

  &__title {
    grid-area: SceneGenerator__title;

    h1 {
      font-size: 1.7em;
      width: 250px;

      @media screen and (min-width: 767px) {
        font-size: 1.8em;
      }
      @media screen and (min-width: 1023px) {
        font-size: 1.9em;
      }
    }
  }

  &__selectGender {
    grid-area: SceneGenerator__selectGender;
  }

  &__mannequin {
    grid-area: SceneGenerator__mannequin;
    grid-template-rows: 160px 160px 260px;
    display: grid;
    position: relative;
    z-index: 0;
    pointer-events: none;
    text-align: center;

    .mannequin__bgrd {
      width: 70%;
      height: 38%;
      background: #ffd4d485;
      border-radius: 50%;
      z-index: -1;
      position: absolute;
      top: 26%;
      left: 14%;
    }
  }

  &__aside--left {
    grid-area: SceneGenerator__aside--left;

    @media (max-width: 1024px) {
      h1 {
        font-size: 1.5em;
        width: 225px;
      }
    }
  }

  &__aside--rigth {
    grid-area: SceneGenerator__aside--rigth;
    position: relative;
    z-index: 3;
    //margin-top: 40px;

    @media (max-width: 767px) {
      //margin-top: 10px;
    }
  }

  &__nav {
    grid-area: SceneGenerator__nav;
    margin: 20px auto 20px;
  }
}

.Background {
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  //margin-top: 10px;

  &__title {
    font-size: 20px;
    cursor: pointer;

    span {
      border-bottom: 1px dashed #444;
    }

    :hover {
      border-bottom: none;
    }
  }
  &__wrapper {
    padding: 15px 0 0;
  }
}
