.ColorPicker {
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  margin-top: 10px;

  &__title {
    font-size: 16px;
    cursor: pointer;

    span {
      border-bottom: 1px dashed #444;
    }

    :hover {
      border-bottom: none;
    }
  }
  &__wrapper {
    padding: 15px 0 0;
  }
  .twitter-picker {
    @media (max-width: 1194px) {
      width: 240px !important;
    }
    @media (max-width: 1024px) {
      width: 209px !important;
    }
  }
}
